#input1:focus {
    background: yellow;
    font-size: 20;   
}

#input2:disabled {
    background: gold;    
}

#input2:enabled {
    background: rgb(80, 76, 56);    
}

.input3:checked {
    height: 30px;
    width: 30px;
}

p:first-of-type {
    background-color:orangered ;

}

p:last-of-type {
    background-color:rgb(87, 77, 74) ;

}

p:first-child {
    background-color:rgb(105, 74, 63) ;

}
p:last-child {
    background-color:rgb(240, 159, 130) ;

}

p:empty {
    width: 100px;
    height: 20px;
    background: rgb(82, 28, 37);
}


:not(p) {
    background-color: lightblue;
}

p {
    background-color: blue;
}

:root {
    background: pink;
}

:target {
    border: 20px solid red;
    background-color: violet;
}

/* :target {
    scroll: margin block start 1px; ;
} */